<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet"
                arguments=".\Sabio.Web.Api.dll"
                stdoutLogEnabled="false"
                stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess">
      <handlerSettings>
        <handlerSetting name="debugLevel" value="FILE,CONSOLE,TRACE" />
        <handlerSetting name="debugFile" value="debug.log" />
      </handlerSettings>
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44373" />
      </environmentVariables>
    </aspNetCore>
    <security></security>
  </system.webServer>
</configuration>
<!--ProjectGuid: eabf887a-306b-4929-a79e-21c2d0cbad76-->


<!--  sanity -->

<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments="exec .\bin\Debug\netcoreapp2.2\Sabio.Web.Api.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" >

        -->
<!--<handlerSettings>
        <handlerSetting name="debugLevel" value="FILE,CONSOLE,TRACE" />
        <handlerSetting name="debugFile" value="debug.log" />
      </handlerSettings>
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />-->
<!--
        -->
<!--<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />-->
<!--
        -->
<!--</environmentVariables>-->
<!--
        <environmentVariables>
          -->
<!--<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="443" />-->
<!--
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <authentication></authentication>
      </security>
    </system.webServer>
  </location>
</configuration>-->
<!--ProjectGuid: eabf887a-306b-4929-a79e-21c2d0cbad76-->