<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>

    <aspNetCore processPath="dotnet"
                  arguments=".\Sabio.Web.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%home%\LogFiles\stdout"
                  hostingModel="inprocess" >

    </aspNetCore>
  </system.webServer>

</configuration>